@import "../global/styles/utilities.css";

html { 
  background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica';
}
.landing {
  margin: 0 auto;
  margin-top: 110px;
  font-weight: 700;
  .subtitle {
  	font-size: $font-size-subtitle;
  	color: $color-black-gray;
  	margin-bottom: $space-xxxxl;
  }
  .title {
  	font-size: $font-size-title;
    color: $color-main-blue;
  }
}

@media (--xs) {
  .landing {
  	max-width: 90%;
  }
}

@media (--gt-xs) {
  .landing {
  	max-width: 80%;
  }
}

@media (--lt-md) {
  .landing {
  	.subtitle {
  	  font-size: $font-size-subtitle-small;
  	}
  	.title {
  	  font-size: $font-size-title-small;
    }
  }
}

@media (--gt-md) {
  .landing {
  	max-width: 900px;
  }
}
