@import "../global/styles/utilities.css";

html { 
  background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  font-family: 'Helvetica';
  font-weight: 700;
  color: $color-main-blue;
}