@import "../global/styles/utilities.css";
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

html { 
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica';
}

body {
  background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
}

.landing {
  margin: 0 auto;
  margin-top: 90px;
  font-weight: 700;
  .subtitle {
    font-size: $font-size-subtitle;
    color: $color-black-gray;
    margin-bottom: $space-xxxxl;
  }
}

@media (--xs) {
  .landing {
    max-width: 90%;
  }
}

@media (--gt-xs) {
  .landing {
    max-width: 80%;
  }
}

@media (--lt-md) {
  .landing {
    .subtitle {
      font-size: $font-size-subtitle-small;
    }
    .title {
      font-size: $font-size-title-small;
    }
  }
}

@media (--gt-md) {
  .landing {
    max-width: 900px;
  }
}
