@import "global/styles/utilities.css";

.modalContent {
  text-align: center;
  padding: $space-xxl $space-md 0 $space-md;
  height: 400px;
}

.content {
  padding-top: 175px;
}

.contactText {
  margin-top: $space-lg;
  color: $color-black-gray;
  font-weight: 500;
}

.close {
  float: right;
  margin-top: $space-xxl;
  display: inline-block;

  .closeButton {
    color: $color-white !important;
    background-color: $color-black-gray !important;
    border: none !important;
    cursor: pointer;
  }
}
