@import "global/styles/utilities.css";

.title {
  font-weight: 700;
  font-size: $font-size-title;
  line-height: $line-height-title;
  padding-bottom: 40px;
  border-bottom: 4px solid $color-white;
}

.blackTitle {
  color: $color-black;
}

.whiteTitle {
  color: $color-white;
}