@import "../global/styles/utilities.css";

.modalClass {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: $space-xxxxl;
  width: 740px;
  height: 525px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  margin: -70px 0 0 -120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 150px;
  border: 1px solid $color-white;
  border-radius: 3px;
  background: $color-white;
}

@media (--lt-md) {
  .modalClass {
    width: 90%;
  }
}