@import "../global/styles/utilities.css";

.modalContent {
  padding: $space-xl $space-md 0 $space-md;
  height: 400px;
}

textarea {
  resize: none;
  overflow: auto;
}

.input {
  display: block;
  width: 90%;
  margin: 0;
  margin-bottom: $space-xl;
  border: none;
  border-bottom: 2px solid $color-main-blue;
  font-size: $font-size-subtitle-small;
  padding: 0.5rem 0;
  background-repeat: no-repeat;
  color: $color-black-gray;
  font-weight: 500;
  
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }

  &[disabled] {
    border-bottom: 1px dashed rgba(0,0,0, 0.12);
    background-color: transparent;
  }

  &::-webkit-input-placeholder {
    color: $color-main-blue;
    font-size: $font-size-subtitle-small;
  }
}

.submit {
  float: right;
  display: inline-block;

  .submitButton {
    color: $color-white !important;
    background-color: $color-main-blue !important;
    border: none !important;
    cursor: pointer;
    &:hover {
      background-color: $color-main-blue-focus !important;
    }
  }
}